@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');



@theme {
  --color-zoho-blue: #226DB4;
  --color-zoho-blue-dark: #1b5a96;
  --color-zoho-blue-light: #e9f1f8;
  --color-zoho-blue-bright: #328fe7;

  --font-poppins: "Poppins", sans-serif;
  --font-sansation: "Sansation","Poppins", sans-serif;
}

body::-webkit-scrollbar{
 display: none;
}
body{
  -ms-overflow-style : none;
  scrollbar-width: none;
}